<footer class="footer">

    <div class="footer-container">

        <!-- BRAND -->
        <div class="footer-col brand">

   <div class="footer-logo logo">
    <img src="images/logo.png" alt="Opera Vir Assist Logo" class="logo-img">

    <span class="logo-text">
        <span class="logo-blue">O</span>pera<span class="logo-blue-light">V</span>ir<span class="logo-blue">A</span>ssist
    </span>
</div>

    <p class="footer-tagline">
        Your Personal Assistant for every task
    </p>

    <p class="footer-desc">
        Helping businesses scale smarter with operational support,
        automation, and global virtual assistance solutions.
    </p>

    <div class="footer-socials">
        <a href="#" aria-label="LinkedIn">
            <i class="fa-brands fa-linkedin-in"></i>
        </a>

        <a href="#" aria-label="Twitter">
            <i class="fa-brands fa-x-twitter"></i>
        </a>

        <a href="#" aria-label="Facebook">
            <i class="fa-brands fa-facebook-f"></i>
        </a>

        <a href="#" aria-label="Instagram">
            <i class="fa-brands fa-instagram"></i>
        </a>
    </div>

</div>

        <!-- SERVICES -->
        <div class="footer-col">
            <h3>Services</h3>
            <ul>
                <li><a href="hr.html">HR & Operations</a></li>
                <li><a href="digitalmarketing.html">Digital Marketing</a></li>
                <li><a href="customersupport.html">Customer Support</a></li>
                <li><a href="automation.html">AI Automation</a></li>
            </ul>
        </div>

        <!-- COMPANY -->
        <div class="footer-col">
            <h3>Company</h3>
            <ul>
                <li><a href="about.html">About Us</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="privacy.html">Privacy Policy</a></li>
            </ul>
        </div>

        <!-- CONTACT -->
        <div class="footer-col fcontact">
            <h3>Contact</h3>

            <p>
                <i data-lucide="map-pin"></i>
                Office No. 144 ,<br> Parmar Park Phase 2, <br> Wanwadi, Pune 411040.
            </p>

            <p>
                <i data-lucide="mail"></i>
                contact@operavirassist.com
            </p>

            <p>
                <i data-lucide="phone"></i>
                +91 70834 41048
            </p>

        </div>

    </div>

    <!-- BOTTOM BAR -->
    <div class="footer-bottom">
        © 2026 Opera Vir Assist · All Rights Reserved
    </div>

</footer>