<header class="navbar">

  <div class="nav-container">

    <!-- Logo -->
<div class="logo">
 <a href="/"> <img src="images/logo.png" alt="OperaVirAssist Logo" class="logo-img"></a>

  <span class="logo-text">
    <span class="logo-blue">O</span>pera<span class="logo-blue-light">V</span>ir<span class="logo-blue">A</span>ssist
  </span>
</div>
 
    <!-- Hamburger -->
    <div class="hamburger" id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <!-- Nav Menu -->
    <nav class="nav-menu" id="navMenu">
      <a href="index.html">Home</a>
      <a href="about.html">About Us</a>

      <div class="dropdown">
        <a class="drop-link">
          Services
          <svg class="dropdown-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
          </svg>
        </a>

        <div class="dropdown-menu">
          <a href="services/hr.html">Operation Management & HR Support</a>
          <a href="services/marketing.html">Lead Generation</a>
          <a href="services/operationalexecutors.html">Operational Executors</a>
          <a href="services/digitalmarketing.html">Digital Marketing</a>
          <a href="services/customersupport.html">Customer Support</a>
          <a href="services/webappdevelopment.html">Web & App Development</a>
          <a href="services/automation.html">Modern AI Strategies</a>
          <a href="services/b2b.html">Business-to-Business</a>
          <a href="services/b2c.html">Business-to-Customer</a>
        </div>
      </div>

      <a href="contact.html" class="nav-btn desktop-contact">Book Consultation</a>
    </nav>

  </div>

</header>